@model RestaurantSys.Models.Dish

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DishName" class="control-label"></label>
                <input asp-for="DishName" class="form-control" />
                <span asp-validation-for="DishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input type="file" name="newPhoto" id="newPhoto" class="form-control" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DishPrice" class="control-label"></label>
                <input asp-for="DishPrice" class="form-control" />
                <span asp-validation-for="DishPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#newPhoto').on( 'change' , function(){
            let file= this.files[0];

            if (file) {
                let reader = new FileReader();

                reader.onload = function (e) {
                    $('#photoPreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(file);

            } else {
                $('#photoPreview').attr('src', '');
            }

        } );
    </script>

}
