@{
    ViewData["Title"] = "網站維護中";
}

<div class="maintenance-container light">
    <div class="maintenance-icon light-icon">
        <i class="bi bi-tools"></i>
    </div>
    <h1>我們正在努力優化網站！</h1>
    <p>為了提供更好的服務品質，系統正在進行例行性維護與更新。</p>
    <p>感謝您的耐心等候，我們將盡快恢復正常運作。</p>
</div>