@{
    ViewData["Title"] = "功能實作中";
}

<div class="maintenance-container light">
    <div class="maintenance-icon light-icon">
        <i class="bi bi-tools"></i>
    </div>
    <h1>我們正在努力實作新功能！</h1>
    <p>為了提供更豐富的體驗，我們正在積極開發與更新，敬請期待。</p>
    <p>感謝您的耐心等候，我們將盡快完成。</p>
</div>